.container-input-add-new-profile {
    display: flex;
    min-width: 60vw;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;

}

.input-add-new-profile,
.input-add-new-profile-description {
    margin: 0;
}

.input-add-new-profile-description {
    height: 100px;
    width: 80%;
    /* Adjust width as needed */
    white-space: pre-wrap;
    /* Preserves white space and allows wrapping */
    word-wrap: break-word;
    /* Break long words to wrap */
    overflow-y: auto;
    /* Enable vertical scrolling if needed */
    vertical-align: top;
    /* Not necessary for textarea */
    resize: none;
    /* Prevent resizing if not wanted */
    padding: 10px;
    /* Optional: Add padding for better appearance */
    box-sizing: border-box;
    /* Include padding and border in width/height */
    font-size: 14px;
    /* Adjust font size if necessary */
}


.profile-card {
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    margin: 8px 0;
    transition: background-color 0.3s;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.profile-card:hover {
    background-color: #eaeaea;
    
} 

.profile-list{
    max-width: 60vw;
    max-height: 37vh;
    overflow-y: auto;
    
}

.container-button-text{
    display: flex;
    gap: 25px;
}

.title-profiles{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card.selected {
    background-color: #d1e7fd;
    border-color: #007bff;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    transition: background-color 0.3s, border-color 0.3s, transform 0.3s;
}
