

footer {
    position: fixed;
    margin-left: 15px;
    bottom: 0;
    z-index: 1005;

    .bi.bi-info-square {
        font-size: 35px;
        cursor: pointer;
        color: var(--primary);
        border: #0056b3;
    }
}

.popup-overlay-footer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content-footer {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 80%;
}

.gotIt {
    margin-top: 12px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

.popup-content-footer span{
    font-weight: bold;
    font-size: 18px;
    color: #0056b3;
}

.popup-content-footer h3{
    font-size: 25px;
    color: var(--primary);
}

@media (max-width: 480px) {
    footer{
        position: relative;
    }
}