.container-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.create-session{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.create-session button {
    width: 300px;
}

.start-btn.disabled,
.next-btn.disabled,
.group-discussion-btn.disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    border: 1px solid #d0d0d0;
}

