.container-layout{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.create-session{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.create-session button {
    width: 300px;
}
