.lobby-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
}

.test-layout{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.player-columns  {
    display: flex;
    gap: 20px;
    
}

.german-players, .dutch-players, .international-players{
    border: 2px solid var(--primary);
    border-radius: 5%;
    text-align: center;
    padding: 20px;
}


ul {
    list-style: none;
    padding: 0;
}

.btn{
    width: 200px;
}

.moderator-layout{
    display: flex;

}

.message-to-room{
    font-size: 1.25rem;
}

.test-layout{
    font-size: 0.75rem;
}

.lobby-admin-btns{
    display: flex;
    justify-content: center;
    gap: 15px;
}


.lobby-admin-btns #start{
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.lobby-admin-btns #start:hover{
    background-color: var(--green);
    transform: scale(1.1);
}

.lobby-admin-btns #lock{
    background-color: rgb(255, 123, 123);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.lobby-admin-btns #lock:hover{
    background-color: rgb(255, 0, 0);
    transform: scale(1.01);
}

.player-group{
    border: 2px solid red;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    min-width: 200px;

}

.moderator-layout .success{
    margin: 20px;
}

