.join-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    
}
.join-container input, button{
    font-size: 15px;
}

.duser-container{
    text-align: center;
    place-items: center;
}

.select-react{
    width: 300px;   
}

