.role-based-layout{
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;

}

.test-layout{
  display: flex;
  flex-direction: row;
  height: 50px;
  font-size: 10px;
}

.test-layout p{
  margin: 10px;
}

.test-layout li{
  margin-left: 10px;
}

.information-pannel h2{
  margin: 0;
}

.room-container {
  overflow: hidden; /* Prevent scrolling */
  position: relative;
}

.information-pannel{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  gap: 10px;
  
}

.chat{

  place-items: center;
}


