.role-based-layout{
  position: fixed;
  bottom: 0;
  margin-bottom: 20px;

}

.test-layout{
  display: flex;
  flex-direction: row;
  height: 50px;
  font-size: 10px;
}

.test-layout p{
  margin: 10px;
}

.test-layout li{
  margin-left: 10px;
}

.information-pannel h2{
  margin: 0;
}

.room-container {
  overflow: hidden; /* Prevent scrolling */

}

.information-pannel{
  display: flex;
  gap: 10px;
}


