.role-based-layout {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.ready-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ready-button--default {
  background-color: var(--blue);
  /* Blue color */
  color: white;
}

.ready-button--locked {
  background-color: #ff6200;
  /* Green color */
  color: white;
  cursor: not-allowed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Semi-transparent grey */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 1000;
  pointer-events: all;
  /* Block interactions */
}



.test-layout {
  display: flex;
  flex-direction: row;
  height: 50px;
  font-size: 10px;
}

.test-layout p {
  margin: 10px;
}

.test-layout li {
  margin-left: 10px;
}

.information-pannel h2 {
  margin: 0;
}

.room-container {
  overflow: hidden;
  /* Prevent scrolling */
  position: relative;
}

.information-pannel {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  margin-left: 90px;

}

.chat {
  height: 100%;
  place-items: center;
}

.selected-groups {

  .checkbox-input {
    padding: 0;
    margin: 0;
    width: 15px;

  }

  .group-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .group-checkbox {
    display: flex;
    /* Align the checkbox and label in a row */
    align-items: center;
    /* Vertically center the checkbox and text */
    gap: 8px;
    /* Add spacing between the checkbox and the label */
    font-size: 14px;
    /* Adjust font size if needed */
  }
}

.outer-container-mod {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 15px;
  padding-right: 15px;

}

.message-room {
  display: block;
  padding: 10px;
  background: #ffffff;
  width: 300px;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 4px;
  margin: 20px 0;
  box-sizing: border-box;
  text-align: center;
}

.chat h1,
h2 {
  font-size: 18px;
  margin-top: 35px;
}

#chat-h2 {
  padding-bottom: 15px;
}

.profile-display {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin: 10px 0;
  transition: background-color 0.3s;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.profile-display:hover {
  background-color: var(--l-pr);

}