
.api-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 300px;
    place-content: center;
}



.api-item {
    display: flex;
    max-height: 80px;
    width: 600px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    overflow-y: scroll;
    
}


.category-item-round-1 {
    padding: 10px;
    cursor: pointer;
    border: 1px solid var(--blue);
    margin-bottom: 5px;
    transition: background-color 0.2s ease;
    
}

.category-item-round-1.selected {
    background-color: dodgerblue;
    color: white;
    font-weight: bold;
}


.box-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}



.droppable-box-b-round1 {
    display: flex;
    flex-direction: column;
  
    min-height: 100px;
    text-align: center;
}

.droppable-box-round1 {
    display: block;
    padding: 15px;
    background-color: var(--lighter-pr);
    height: 100%;
    min-width: 50px;
    text-align: center;
    border: 2px dashed #636;
}
.box-text{
    color: var(--primary);
}



.dragdrop-container-1 {
    max-width: 1000px;
    padding: 10px;
    border-radius: 5px;
}

.draggable-item {
    border: 2px dashed #ff0000;
  
}

.feedback-box-round-1{
    display: flex;
    justify-content: center;
}

.dragdrop-container-1{
    display: flex;
}

